.editor {
  margin: auto;
  width: 65vw;
  height: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

body {
  font-family: Roboto;
}

.dashboard {
  text-align: left;
  padding-top: 2vh;
  padding-left: 1vw;
  line-height: 3em;
}

.box {
  width: 1vw;
  margin-left: 1em;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5vh;
  background-color: silver;
}
